@model IEnumerable<SGTE_V1._8.Models.Tbl_Aluno>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

            <p><span class="fa fa-signal"></span></p>
            <h1><span>Em desenvolvimento</span><br />logo estaremos 100%</h1>
            <p>Contamos com sua compreenção</p>

        </div>
    </div>
    <div class="arrow-separator arrow-white"></div>
    <div class="fullwidth colour1 clearfix">
        <div id="countdown" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">


        </div>
    </div>

    <div class="arrow-separator arrow-theme"></div>
    <div class="fullwidth colour2 clearfix">
        <div id="maincont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
            <p>Em breve esta página estará disponivel. Pedimos desculpas, a equipe do SGTE esta trabalhando para fornecer um bom TCC. <em>Esta página será a do aluno</em>, aqui o cliente poderá acessar as informações de seu filho, assim como es horarios reais das viajens.</p>
            <h2>Caso tenha alguma sugestão, fique a vontade para entrar em contato conosco <li>@Html.ActionLink("Clicando aqui", "Contact", "Home")</li></h2>.
            <p>Você pode também nos contatar pelo nossa página no facebook nos links sociais abaixo.</strong>A equipe SGTE esta a seu dispor.</p>


        </div>
    </div>


</div>