@{
    ViewBag.Title = "Home Page";
}

<header class="headerhome">
    <div class="container">
       
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                <br>
                <br>
                <h1>Praticidade perto de Você.</h1>
                <h4>
                    Em busca de agilidade e informatização no processo de transporte escolar.
                    Confie, nós não somos apenas um facilitador, somos um parceiro.
                </h4>

                <form action="" class="form-inline">

                    <div class="form-group">
                      
                        <a class = "btn btn-info btn-lg" href="#sobre" role="button">
                          Leia Mais 
                        
                        </a>
                       
                    </div>
                </form>
            </div>

        
    </div>
</header>


<!--- Comeco primeira Sessao 1 -->


<div class="container" id="SobreParte">
    <div class="row centrado">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h1><a name="sobre">Sobre</a> </h1>
            <br>
            <h4>Oferecemos agilidade na informação no embarque e desembarque do pequeno cliente. Conheça a baixo o resumo do nosso processo.</h4>
        </div>
    </div>
</div>


<!-- Funciona , segunda orte -->
<div class="row centrado">
    <div class="col-md-4 col-sm-4">
        <img src="/Content/img/papai.png" class="img-circle" width="140">
        <h4><strong>Embarque</strong></h4>
        <p></p>
        <p>Os responsaveis pelo aluno(s) esperam a van da escola para a saida do aluno. Nosso sistema facilita esse encontro uma vez que informa uma previsão do horario em que o motorista irá passar no local .</p>
    </div>

    <div class="col-md-4 col-sm-4">
        <img src="/Content/img/father.png" class="img-circle" width="140">
        <h4><strong>Viagem</strong></h4>
        <p></p>
        <p> O motorista e seu auxiliar ficam encarregados de atualizar o horario que o aluno chegou ao seu destino . </p>
    </div>


    <div class="col-md-4 col-sm-4">
        <img src="/Content/img/WORKING.png" class="img-circle" width="140">
        <h4><strong>Chegada</strong></h4>
        <p></p>
        <p>Atraves da internet é possivel verificar quando a criança chegou na escola. Pratico não importa aonde você esteja.</p>
    </div>
</div>
<!-- FIM  -->
<!-- -->

<div class="well col-md-12">

    <div class="col-md-offset-3" id="textoempresa">

        <h1>Para sua Empresa </h1>
        <br>
        <br />

        <h4>
            Aumente a confiabilidade dos seus clientes no seu processo e diminua os gastos com o preparo de funcionarios.
            <p>Economize tempo e dinheiro, adote nosso sistema e entre para nova era de ascenção.</p>
        </h4>

        <br>
        <br>
        <div class="col-md-offset-1">
            <img src="/Content/img/person25_custo.png" width="440" />

        </div>
    </div>



</div>








<!-- Terceira Parte  -->

<div class="container">

    <div class="col-md-6 col-sm-6" id="Facil">

        <h1>Facil de Usar </h1>
        <br>
        <br>
        <p>
            <strong>SGTE</strong> possui uma interface amigavel e com um método de acesso unico fará com que você
            ,mesmo longe , possa checar se o transporte de alunos está normal, rendendo assim confiança para sua empresa e seus empregados. A pessoa  mais beneficiado disso tudo é o aluno, sempre com os horários em dia. <strong> Confie e nós fazemos </strong> <span class="glyphicon glyphicon-thumbs-up"></span>
        </p>
    </div>

    <div class="col-md-4 col-sm-4">
        <img src="/Content/img/autoestimacriancas2.png" width="440px" id="garotinha">
    </div>
</div>


<!-- fim segunda parte -->
<!-- FOOTER -->